[submodule "Build/DotNetDllPathPatcher"]
	path = Build/DotNetDllPathPatcher
	url = https://github.com/HMBSbige/DotNetDllPathPatcher
[submodule "Build/GetSHA256"]
	path = Build/GetSHA256
	url = https://github.com/HMBSbige/GetSHA256
